{% extends "layouts/example.htm.twig" %}

{% block title %}Example{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h2>Example</h2>
    <p>This is the [example.htm.twig] template using the [example.htm.twig] layout</p>
{% endblock %}